@font-face {
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 400;
    src: local('Courier New'), local('Courier New'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  }
  